*{
  color: #fff;
}
body{
  background-color: #071e3d;

   
}

nav{
  background: linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));
}

.logo{
  color: #fff;
}

#navbarText a{
  color: #000;
}

#navbarText ul{
  text-align: center;
}

.img-logo{
  height: 3rem;
}

.My-photo img{
  height: 75vh;
  width: auto;
  object-fit: cover;
}
.my-name hr{
  width: 75%;
}

.my-name{
  font-family: 'Poppins', sans-serif;
}