*{
  color: #fff;
}
body{
  background-color: #071e3d;

   
}

nav{
  background: linear-gradient(to right, rgb(39, 120, 175), rgb(104, 205, 241), rgb(200, 200, 200));
}

.logo{
  color: #fff;
}

#navbarText a{
  color: #000;
}

#navbarText ul{
  text-align: center;
}

.img-logo{
  height: 3rem;
}

.My-photo img{
  height: 75vh;
  width: auto;
  object-fit: cover;
}
hr.divider{
  width: 75%;
  height: 3px;
  color: rgb(109, 213, 250);
}

#my-name{
  font-family: 'BhuTuka Expanded One', cursive;
}
.card{
  background-color: #203a5c;
}

.services h1{
  color: #071e3d;
}

.cardContainer{
  background-color: #fff;
}

.my-descpn{
  font-family: 'Poppins', sans-serif;
}

.aboutCont h1,.aboutCont h2{
  color: #071e3d !important;
}

.muted{
 background-color: #2f5280;
  
}

.experience p{
  color: #071e3d;
}

.contacts p{
  color: #071e3d;
}
.fa-location-dot{
  color: #071e3d;
}